#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!--
 Copyright (c) 2014, 2020, Oracle and/or its affiliates.
 Licensed under The Universal Permissive License (UPL), Version 1.0
 as shown at https://oss.oracle.com/licenses/upl/
 -->
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
      <!--
       ** Oracle JET V9.1.0 hybrid mobile application header pattern.
       ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
       ** more information on how to use this pattern.
    -->
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
    </div>
  <!-- This is where your main page content will be loaded -->
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>About Content Area</h1>
        <div>
            Aplicación web con knockoutjs en cliente y Spring en el servidor.
        </div>
      </div>
    </div>
  </div>
</div>