#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!--
 Copyright (c) 2014, 2020, Oracle and/or its affiliates.
 Licensed under The Universal Permissive License (UPL), Version 1.0
 as shown at https://oss.oracle.com/licenses/upl/
 -->
<!--<div class="oj-flex-bar-start">
    Add additional buttons here
</div>-->
<div role="heading" class="oj-hybrid-applayout-bar-title">
   <h1 class="oj-hybrid-applayout-header-title"><oj-bind-text value="[[pageTitle]]"></oj-bind-text></h1>
</div>
<!--<div class="oj-flex-bar-end">
    Add additional buttons here
</div>-->