#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <!-- This is where your main page content will be loaded -->
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Login</h1>
        <div>
            <div class="oj-flex">
            	<div class="oj-sm-12">
            		<input type="text" placeholder="Nombre de usuario" data-bind="value : userName">
            	</div>
            	<div class="oj-sm-12">
            		<input type="password" placeholder="Contraseña" data-bind="value : pwd">
            	</div>
            	<div class="oj-sm-12">
            		<button data-bind="click : login">Entrar</button>
            	</div>
            	<div class="oj-sm-12" data-bind="html : message" style="color : blue">
            	</div>
            	<div class="oj-sm-12" data-bind="html : error" style="color : red">
            	</div>
            </div>
            
            <div class="oj-flex">
            	<div class="oj-sm-12">
            		<a>Recuperar contraseña</a>
            	</div>
            </div>
            <div class="oj-flex">
            	<div class="oj-sm-12">
            		<a data-bind="click : register">Crear cuenta</a>
            	</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>